.create-post-page{
    
    .from-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 40%;

        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;

            label{
                width: 100%;
                border: 1px solid gray;
                padding-block: 0.4rem;
                cursor: pointer;
                border-radius: 3rem;
                color: gray;
                padding-inline: 1rem;
            }

            input{
                width: 100%;
            }

            button{
                padding-block: 0.5rem;
                border-radius: 0.4rem;
                border: none;
                background-color: orangered;
                color: white;
                font-weight: bold;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:active{
                    transform: scaleX(0.7);
                }
            }
        }
    }
}