.feed-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .feed{
        max-width: 300px;
        width: 100%;

        .posts{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .post{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            background-color: rgb(201, 200, 200);
            padding-inline: 0.5rem;
            padding-block: 0.5rem;

            .user{
                display: flex;
                gap: 0.5rem;
                align-items: center;

                .img-wrapper{
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 3px solid #ff131300;
                    background: conic-gradient(from 45deg,rgb(244, 182, 38),rgb(180, 41, 255),rgb(244, 182, 38)) border-box;
                }

                img{
                    width: 2.5rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    object-position: center;
                    object-fit: cover;
                }
            }

            .icons{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }

                .like{
                    color: red;
                }

                button{
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 1rem;
                }
            }

            img{
                width: 100%;
            }
        }
    }
}