*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body,#root{
    width: 100%;
    height: 100%;
}

.notes{
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.note{
  background-color: rgb(86, 86, 92);
  color: white;
  padding: 1rem;
  width: 16rem;
  border-radius: 1rem;

}

.note h1{
  color: rgb(146, 166, 255);
}

/* .editBox{
  border: 2px solid rgb(7, 7, 7);
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  background-color: rgb(13, 45, 105);
  left: 50%;
  transform: translate(-50%);
  /* display: none; */
/* } */

/* .editBox input{
  padding: 0.5rem 1rem;
}

.editBox p{
  font-size: 0.8rem;
  margin-block: 1rem;
  color: rgb(255, 63, 63);
}

.editBox textarea{
  padding: 1rem;
  font-size: 1rem;
} */ 