*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body,#root{
    width: 100%;
    height: 100%;
}

.notes{
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.note{
  background-color: rgb(86, 86, 92);
  color: white;
  padding: 1rem;
  width: 16rem;
  border-radius: 1rem;

}

.note h1{
  color: rgb(146, 166, 255);
}
